﻿@model IEnumerable<ViewModel.DetailPeminjamanViewModel>

<div class="panel-group">
    <div class="tab-content">
        <div class="row" style="background-color:#337ab7">
            <h4 style="color: white; margin-left: 20px">CEK PEMINJAMAN</h4>
        </div>
        <br />

        <table class="table table-striped">
            <tr>
                <th style="width:30%;">
                    Nama
                </th>
                <th style="width:20%;">
                    No.Bp
                </th>
                <th style="width:30%;">
                    Laboratorium
                </th>
                <th style="width:20%;">
                    Alat
                </th>
                <th style="width:30%;">
                    Keterangan
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoBp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameLab)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keterangan)
                    </td>

                </tr>
            }

        </table>
    </div>
</div>