﻿@model ViewModel.DetailViewModel


@Html.AntiForgeryToken()

<div class="form-horizontal">

    <div class="form-group">
        <div class="row">
            <div class="col-sm-5" style="margin-left: 5%;">
                <label>Tgl. Peminjaman*</label>
                <input type="date" class="form-control test_date" id="awal" name="awal" value="">
                <span class="text-danger" id="test_error"></span>
            </div>
            <div class="col-sm-5">
                <label>Tgl. Pengembalian*</label>
                <input type="date" class="form-control expired_test" id="akhir" name="akhir">
                <span class="text-danger" id="ex_error"></span>
                <small class="form-text text-muted Validation" id="Validation" style="display:none; color:red;">Tanggal Peminjaman tidak boleh kurang dari tanggal Pengembalian</small>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-4" style="margin-left: 5%;">
                <label>Laboratorium</label>
                @Html.DropDownListFor(model => model.LaboratoryId, (IEnumerable<SelectListItem>)ViewBag.LaboratoryList,
     "Select Laboratory", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LaboratoryId, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                <label>Alat</label>
                @Html.DropDownListFor(model => model.ToolId, (IEnumerable<SelectListItem>)ViewBag.ToolList,
"Select Tool", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ToolId, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3" style="margin-top: 3.7%;">
                <button type="button" class="btn btn-primary btn-pilih" title="Pilih">Pilih</button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <table class="table table-bordered table-striped" id="test-table">
            <thead>
                <tr>
                    <th style="width: 40%">Laboratorium</th>
                    <th style="width: 40%">Alat</th>
                    <th style="width: 20%">#</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <div class="col-md-offset-4 col-md-7">
                <button class="btn btn-warning" id="batal">Batal</button>
                <button value="Simpan" id="btn-save" class="btn btn-primary" style="margin-right: 5%;">Simpan</button>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">

    $("#akhir").change(function () {
            var exdate = $("#akhir").val();
            var strdate = $("#awal").val();
            if (exdate < strdate) {
                $("#Validation").show();
            }
            else {
                $("#Validation").hide();
            }
        });

        $("#awal").change(function () {
            var exdate = $("#akhir").val();
            var strdate = $("#awal").val();
            if (exdate < strdate && exdate != "") {
                $("#Validation").show();
            }
            else {
                $("#Validation").hide();
            }
        });

    $("#LaboratoryId").change(function () {
        $.ajax({
            url: '@Url.Action("GetByLaboratory","Laboratory")',
            type: 'get',
            data: { LaboratoryId: $(this).val() },
            success: function (result) {
                $("#ToolId").html(result);
            }
        });
    });

    $(".btn-pilih").click(function () {
        $.ajax({
            url: '@Url.Action("SelectAlat","Laboratory")',
            type: 'get',
            data: { id: $(this).attr("value") },
            success: function (result) {
                $("#test-table tbody").append(result);
            }
        });
    });

     $("#ToolId").change(function () {
        var test = $("#ToolId").val();
        $(".btn-pilih").attr("value", test);
    })
    $("#LaboratoryId").change(function () {
        var test = $("#LaboratoryId").val();
        $(".btn-pilih").attr("value", test);
    })

             function Remove(obj) {
            var tr = $(obj).closest('tr');
                tr.remove();
        }

 var data = {};
    $("#btn-save").click(function () {
            var str = $("#awal").val();
            var fnl = $("#akhir").val();
            var details = [];
            $("#test-table tbody").find("tr").each(function () {
                var Id = $(this).find("input[name=Id]").val();
                detail = {
                    ToolId: Id,
                };
                details.push(detail);
            });

            data = {
                awal: $("#awal").val(),
                akhir: $("#akhir").val(),
                biodataId: kl,
                detail: details
            }
        $.ajax({
            url: '@Url.Action("Simpan", "Laboratory")',
            type: 'post',
            data: { model: data },
            success: function (result) {
                if (result.success) {
                    $("#exampleCreate").modal("hide");
                }
                else {
                    alert("Error:\n" + result.message);
                }
            }
        });
    });

         $("#batal").click(function () {
        $("#exampleCreate").modal("hide");
    });

</script>