﻿@model ViewModel.BiodataViewModel

@using (Html.BeginForm("Create", "Laboratory", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()

    <div class="panel-group">
        <div class="tab-content" style="border-bottom:solid; border-bottom-color:#337ab7;">
            <div class="row" style="background-color:#337ab7">
                <h4 style="color: white; margin-left: 20px">PEMINJAMAN</h4>
            </div>
            <br />
            <div class="form-group">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <div class="col-sm-4" style="margin-left:5%;">
                        <label>Nama*</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="margin-left:5%;">
                        <label>No.Bp*</label>
                        @Html.EditorFor(model => model.Bp, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bp, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="margin-left:5%; margin-top:3%;">
                        <input type="submit" value="Simpan" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div />

<script type="text/javascript">
    $("#form-create").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    GetList();
                } else {
                    alert("error! " + result.message);
                }
            }
        });
        return false;
    });

</script>
