﻿@model IEnumerable<ViewModel.BiodataViewModel>

    <div class="panel-group">
        <div class="tab-content">
            <div class="row" style="background-color:#337ab7">
                <h4 style="color: white; margin-left: 20px">Data Peminjaman</h4>
            </div>
            <br />

            <style>
                table {
                    font-family: Aria l, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                }

                td, th {
                    text-align: left;
                    padding: 15px;
                }

                td {
                    text-align: left;
                    padding: 15px;
                }

                tr:nth-child(even) {
                    background-color: #dddddd;
                }
            </style>

            <div class="col-12">
                <table class="table">
                    <tr>
                        <th>
                            NAMA
                        </th>
                        <th>
                            NO.BP
                        </th>
                        <th>
                            #
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Bp)
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-warning btn-pinjam" data-id="@item.Id" title="Pinjam">Pinjam</button>
                                    <button type="button" class="btn btn-danger btn-detailAlat" data-id="@item.Id" title="Detail">Detail</button>
                                    <button type="button" class="btn btn-success btn-selesai" data-id="@item.Id" title="Delete">Selesai</button>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

        <div class="modal fade" id="exampleCreate" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary header-modal-sm">
                        <h4 class="modal-title modal-title-create">Modal title</h4>
                    </div>
                    <div class="modal-body modal-create">
                        <p>One fine body&hellip;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script type="text/javascript">

            var kl;
            $(".btn-pinjam").click(function () {
             kl = $(this).attr("data-id");
            $.ajax({
                url: '@Url.Action("CreateAlat", "Laboratory")',
                type: 'get',
                data: { id: $(this).attr("data-id")},
                success: function (result) {
                    $(".header-modal-sm").css("background-color", "#337ab7");
                    $(".modal-title-create").html("Pinjam Alat");
                    $(".modal-create").html(result);
                    $("#exampleCreate").modal("show");
                }
            });
        });

    var idAlat;
            $(".btn-detailAlat").click(function () {
        idAlat = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("DetailAlat", "Laboratory")',
            type: 'get',
            data: { id: idAlat },
            success: function (result) {
                $(".header-modal-sm").css("background-color", "#337ab7");
                $(".modal-title-create").html("Detail Peminjaman");
                $(".modal-create").html(result);
                $("#exampleCreate").modal("show");
            }
        });
    });

            $(".btn-selesai").click(function () {
            window.location.reload();
        });
            
        </script>

