﻿@model IEnumerable<ViewModel.ToolViewModel>


<table class="table table-striped">
    <tr>
        <th style="width:40%;">
            Alat
        </th>
        <th style="width:20%;">
            Jumlah
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jumlah)
            </td>
        </tr>
    }

</table>

<div class="row">
    <div class="col-lg-10">
        <div class="col-md-offset-11 col-md-7">
            <button id="btn-kembali" class="btn btn-warning">Kembali</button>
        </div>
    </div>
</div>

<script type="text/javascript">

     $("#btn-kembali").click(function () {
        $("#exampleLabor").modal("hide");
    });

</script>