﻿@model IEnumerable<ViewModel.DetailPeminjamanViewModel>


<table class="table table-striped">
    <tr>
        <th style="width:20%;">
            Alat
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>

<div class="row">
    <div class="col-lg-10">
        <div class="col-md-offset-11 col-md-7">
            <button id="btn-kembali" class="btn btn-warning">Kembali</button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary header-modal-delete">
                <h4 class="modal-title modal-title-delete">Modal title</h4>
            </div>
            <div class="modal-body modal-delete">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

     $("#btn-kembali").click(function () {
         $("#exampleCreate").modal("hide");
     });

</script>