﻿@model IEnumerable<ViewModel.LaboratoryViewModel>

<div class="panel-group">
    <div class="tab-content">
        <div class="row" style="background-color:#337ab7">
            <h4 style="color: white; margin-left: 20px">LABORATORIUM</h4>
        </div>
        <br />

        <style>
            table {
                font-family: Aria l, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                text-align: left;
                padding: 15px;
            }

            td {
                text-align: left;
                padding: 15px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>

        <div class="col-12">
            <table class="table">
                <tr>
                    <th>
                        Laboratorium
                    </th>
                    <th>
                        Initial
                    </th>
                    <th>
                        #
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Initial)
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-danger btn-detail" data-id="@item.Id" title="Detail">Detail</button>
                            </div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleLabor" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary header-modal-sm">
                <h4 class="modal-title modal-title-labor">Modal title</h4>
            </div>
            <div class="modal-body modal-labor">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(".btn-detail").click(function () {
        $.ajax({
            url: '@Url.Action("Detail", "Laboratory")',
            type: 'get',
            data: { id: $(this).attr("data-id")},
            success: function (result) {
                $(".header-modal-sm").css("background-color", "#337ab7");
                $(".modal-title-labor").html("Detail Alat");
                $(".modal-labor").html(result);
                $("#exampleLabor").modal("show");
            }
        });
    });

</script>
