﻿@model ViewModel.DetailPeminjamanViewModel

<tr>
    <td>
        @Html.HiddenFor(model => model.Id)
        @Html.DisplayFor(model => model.NameLab)
    </td>
    <td>
        @Html.DisplayFor(model => model.Name)
    </td>
    <td>
        <span class="glyphicon glyphicon-trash btn-remove" onclick="Remove(this)" aria-hidden="true"></span>
    </td>
</tr>
