﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .nav-item {
            border: 2px solid #ffffff;
            border-bottom: none;
        }

        .nav-item-end {
            border: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
        }

        .modal {
            overflow-y: auto;
        }
    </style>
</head>
<body style="background-color:lightgray">
    <div class="navbar navbar-fixed-top" style="background-color: #337ab7">
        <div class="container">
            <div class="navbar-collapse collapse">
                <div class="headerrole">
                    <div class="navbar-header text-center col-md-12">
                        <h3>
                            <b>
                                <font color="White">
                                    Peminjaman Alat Laboratorium Fisika
                                </font>
                            </b>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body center-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-offset-1" style="margin-top:2%">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="btn btn-primary btn-labor" href="#">Laboratorium</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary btn-data" href="#">Peminjaman</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary btn-cek" href="#">Cek Peminjaman</a>
                        </li>
                        <li class="nav-item-end">
                            <a class="btn btn-primary btn-infor" href="#">Informasi</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8" style="background-color:white;height:400px;width:700px;margin-top:2%">
                    <div class="place-index"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(".btn-labor").click(function () {
        $.ajax({
            url: '@Url.Action("List","Laboratory")',
            type: 'get',
            success: function (result) {
                $(".place-index").html(result);
            }
        });
        });

        $(".btn-data").click(function () {
        $.ajax({
            url: '@Url.Action("Create","Laboratory")',
            type: 'get',
            success: function (result) {
                $(".place-index").html(result);
            }
        });
        });

    function GetList() {
                $.ajax({
                url: '@Url.Action("Data","Laboratory")',
                type: 'get',
                success: function (result) {
                $(".place-index").html(result);
                }
         });
    }

        $(".btn-cek").click(function () {
        $.ajax({
            url: '@Url.Action("Cek","Laboratory")',
            type: 'get',
            success: function (result) {
                $(".place-index").html(result);
            }
        });
        });

    
        $(".btn-infor").click(function () {
        $.ajax({
            url: '@Url.Action("Info","Laboratory")',
            type: 'get',
            success: function (result) {
                $(".place-index").html(result);
            }
        });
        });



</script>

