﻿
    <div class="panel-group">
        <div class="tab-content" style="border-bottom:solid; border-bottom-color:#337ab7;">
            <div class="row" style="background-color:#337ab7">
                <h4 style="color: white; margin-left: 20px">INFORMASI</h4>
            </div>
            <br />
            <p>Prosedur Peminjaman</p>
            <p>1. Cek alat yang tersedia di setiap Laboratorium pada Menu "Laboratorium"</p>
            <p>2. Isi data diri beserta alat yang akan dipinjam pada Menu "Peminjaman"</p>
            <p>3. Pantau proses peminjaman pada menu "Cek Peminjaman"</p>
            <p>4. Jika pada keterangan tertulis "Telah Diproses", maka mahasiswa dapat mendatangi labor untuk pengambilan alat</p>
            <p>5. Jika dalam waktu +48 jam keterangan masih "Belum Diproses", Hubungi(WA): (+62)81316143848 (Tandini)</p>
            <p></p>
            <p></p>
            <p>NB: Sebaiknya peminjaman dilakukan 1 minggu sebelum kebutuhan pemakaian alat</p>
        </div>
    </div>
